.fbtn {
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-bg);
  border-radius: var(--border-radius);
  color: var(--heading-color);
  cursor: pointer;
  min-height: 32px;
  min-width: 32px;
  outline: 0 !important;
  outline-style: none;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;
  touch-action: manipulation;
  user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--btn-bg-hover);
    border-color: var(--btn-bg-hover);
  }

  &:disabled,
  &:disabled:hover {
    background-color: var(--bg-disabled);
    border-color: var(--bg-disabled);
    color: var(--color-disabled);
    cursor: not-allowed !important;

    * {
      pointer-events: none !important;
    }
  }
}
.fbtn-spinner {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.fbtn-child {
  align-self: center;
  display: flex;
  justify-content: center;
}
.fbtn-icon {
  padding-left: 0;
  padding-right: 0;
  width: 2.25em;
  height: 2.25em;
}

.fbtn:not(.fbtn-icon) .ficon:nth-child(1) {
  margin-right: 0.5em;
}
.fbtn:not(.fbtn-icon) .ficon:last-child {
  margin-left: 0.5em;
}

// border
.fbtn-solid {
  background-color: transparent;
  border-color: currentColor;
  border-style: solid;
}
.fbtn-dashed {
  background-color: transparent;
  border-color: currentColor;
  border-style: dashed;
}

.fbtn-default {
  &.fbtn-solid,
  &.fbtn-dashed {
    border-color: var(--border-color);

    &:hover {
      background-color: var(--btn-bg);
      color: var(--color);
      border-color: var(--btn-bg);
    }
  }
}

.fbtn-solid,
.fbtn-dashed {
  &:disabled,
  &:disabled:hover {
    background-color: transparent;
  }
}

// shape
.fbtn-rounded {
  border-radius: 999px;
}

// colors
.fbtn-transparent {
  background-color: transparent;
  border-color: transparent;
}
.fbtn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);

  &:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
    color: var(--white);
  }

  &:disabled,
  &:disabled:hover {
    background-color: var(--primary-disabled);
    border-color: var(--primary-disabled);
    color: var(--white);
  }
}
.fbtn-primary.fbtn-solid,
.fbtn-primary.fbtn-dashed {
  background-color: transparent;
  color: var(--primary);

  &:hover {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
  }

  &:disabled,
  &:disabled:hover {
    background-color: transparent;
    border-color: var(--primary-disabled);
    color: var(--primary-disabled);
  }
}
.fbtn-danger {
  background-color: var(--danger);
  border-color: var(--danger);
  color: var(--white);

  &:hover {
    background-color: var(--danger-hover);
    border-color: var(--danger-hover);
    color: var(--white);
  }

  &:disabled,
  &:disabled:hover {
    background-color: var(--danger-disabled);
    border-color: var(--danger-disabled);
    color: var(--white);
  }
}
.fbtn-danger.fbtn-solid,
.fbtn-danger.fbtn-dashed {
  background-color: transparent;
  color: var(--danger);

  &:hover {
    background-color: var(--danger);
    color: var(--white);
    border-color: var(--danger);
  }

  &:disabled,
  &:disabled:hover {
    background-color: transparent;
    border-color: var(--danger-disabled);
    color: var(--danger-disabled);
  }
}
