.fpureconfirm {
  .fdialog-body {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .fdialog-footer {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
}
