.fautocomplete {
  background-color: var(--bg);
  box-shadow: var(--popover-box-shadow);
  border-radius: 3px;
  overflow: hidden;

  .tippy-content {
    padding: 8px 0;
  }
}
.fautocomplete-input-wrapper {
  width: 100%;
}

.fautocomplete-content {
  background-color: var(--bg);
}

.fautocomplete-option {
  cursor: pointer;
  padding: 10px 15px;
  color: var(--color);

  &:hover {
    background-color: var(--primary);
    color: var(--white);
  }
}
