.fbtn {
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  min-height: 32px;
  min-width: 32px;
  outline: 0 !important;
  outline-style: none;
  padding-left: 14px;
  padding-right: 14px;
  position: relative;
  touch-action: manipulation;
  user-select: none;
  display: inline-block;
  text-align: center;
}
.fbtn-spinner {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.fbtn-child {
  display: inline-block;
}
.fbtn-icon,
.fbtn-start-icon,
.fbtn-end-icon {
  padding-left: 0;
  padding-right: 0;
  width: 2.25em;
  height: 2.25em;
}

// PRIMARY
.fbtn-primary {
  background-color: #1976d2;
  border-color: #1976d2;
  color: var(--white);

  &:hover {
    background-color: #1565c0;
    border-color: #1565c0;
    color: var(--white);
  }
}

.fbtn-primary.fbtn-outlined,
.fbtn-primary.fbtn-dashed {
  background-color: transparent;
  color: #1976d2;

  &:hover {
    background-color: #1565c0;
    color: var(--white);
    border-color: #1565c0;
  }
}
.fbtn-primary.fbtn-text {
  color: #1976d2;
}

// ERROR
.fbtn-error {
  background-color: #d32f2f;
  border-color: #d32f2f;
  color: var(--white);

  &:hover {
    background-color: #c62828;
    border-color: #c62828;
    color: var(--white);
  }
}
.fbtn-error.fbtn-outlined,
.fbtn-error.fbtn-dashed {
  background-color: transparent;
  color: #d32f2f;

  &:hover {
    background-color: #c62828;
    color: var(--white);
    border-color: #c62828;
  }
}
.fbtn-error.fbtn-text {
  color: #d32f2f;
}

// SUCCESS
.fbtn-success {
  background-color: #2e7d32;
  border-color: #2e7d32;
  color: var(--white);

  &:hover {
    background-color: #1b5e20;
    border-color: #1b5e20;
    color: var(--white);
  }
}
.fbtn-success.fbtn-outlined,
.fbtn-success.fbtn-dashed {
  background-color: transparent;
  color: #2e7d32;

  &:hover {
    background-color: #1b5e20;;
    color: var(--white);
    border-color: #1b5e20;;
  }
}
.fbtn-success.fbtn-text {
  color: #2e7d32;
}

.fbtn-outlined,
.fbtn-dashed {
  border-color: currentColor;
  background-color: transparent;
}
.fbtn-dashed {
  border-style: dashed;
}
.fbtn-text {
  &,
  &:hover {
    background-color: transparent;
    border-color: transparent;
  }
}
.fbtn-rounded {
  border-radius: 999px !important;
}
.fbtn-upercase {
  text-transform: uppercase !important;
}

.fbtn {
  &:disabled,
  &:disabled:hover {
    background-color: var(--bg-disabled);
    border-color: var(--bg-disabled);
    color: var(--color-disabled);
    cursor: not-allowed !important;

    * {
      pointer-events: none !important;
    }
  }
}
