@import './fade.scss';
@import './slide.scss';
@import './zoom.scss';
@import './tippy/perspective-extreme.scss';
@import './tippy/perspective-subtle.scss';
@import './tippy/perspective.scss';
@import './tippy/scale-extreme.scss';
@import './tippy/scale-subtle.scss';
@import './tippy/scale.scss';
@import './tippy/shift-away-extreme.scss';
@import './tippy/shift-away-subtle.scss';
@import './tippy/shift-away.scss';
@import './tippy/shift-toward-extreme.scss';
@import './tippy/shift-toward-subtle.scss';
@import './tippy/shift-toward.scss';


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animated.delay-2s {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.delay-3s {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.delay-4s {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.delay-5s {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.animated.fast {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.animated.slow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.slower {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}
