@import './colors';

:root {
  --input-height: 40px;
  --input-spacing: 0.8em;
  --basic-height: 32px;
  --border-radius: 2px;
  --border-radius-medium: 8px;

  --zindex-notification: 1000;
  --zindex-alert: 1000;
  --zindex-modal: 1000;
  --zindex-confirm: 1000;
  --zindex-tooltip: 1001;
  --zindex-drawer: 1000;
  --zindex-overlay: 1010;
}
