.fportal-bottom-left,
.fportal-bottom-right,
.fportal-top-left,
.fportal-top-right,
.fportal-top-center,
.fportal-bottom-center {
  position: fixed;
  display: flex;
  flex-direction: column-reverse;
}

.fportal-bottom-left {
  left: 0px;
  top: auto;
  bottom: 0px;
  
}

.fportal-bottom-right {
  right: 0px;
  top: auto;
  bottom: 0px;
}

.fportal-top-left {
  left: 0px;
  top: 0px;
  bottom: auto;
}

.fportal-top-right {
  right: 0px;
  top: 0px;
  bottom: auto;
}

.fportal-top-center,
.fportal-bottom-center {
  width: 100vw;
}
.fportal-top-center {
  top: 0px;
  bottom: auto;
}
.fportal-bottom-center {
  bottom: 0px;
  top: auto;
}
