.ftooltip {
  .tippy-arrow {
    color: #333;
  }

  .tippy-content {
    padding: 7px;
    border-radius: 3px;
    background-color: #333;
    color: #fff;
    box-shadow: var(--popover-box-shadow);
  }
}
