:root {
  --black: #10161A;
  --white: #FFFFFF;

  --blue-1: #e6f7ff;
  --blue-2: #bae7ff;
  --blue-3: #91d5ff;
  --blue-4: #69c0ff;
  --blue-5: #40a9ff;
  --blue-6: #1890ff;
  --blue-7: #096dd9;
  --blue-8: #0050b3;
  --blue-9: #003a8c;
  --blue-10: #002766;

  --green-1: #f6ffed;
  --green-2: #d9f7be;
  --green-3: #b7eb8f;
  --green-4: #95de64;
  --green-5: #73d13d;
  --green-6: #52c41a;
  --green-7: #389e0d;
  --green-8: #237804;
  --green-9: #135200;
  --green-10: #092b00;

  --red-1: #fff1f0;
  --red-2: #ffccc7;
  --red-3: #ffa39e;
  --red-4: #ff7875;
  --red-5: #ff4d4f;
  --red-6: #f5222d;
  --red-7: #cf1322;
  --red-8: #a8071a;
  --red-9: #820014;
  --red-10: #5c0011;

  --orange-1: #fff7e6;
  --orange-2: #ffe7ba;
  --orange-3: #ffd591;
  --orange-4: #ffc069;
  --orange-5: #ffa940;
  --orange-6: #fa8c16;
  --orange-7: #d46b08;
  --orange-8: #ad4e00;
  --orange-9: #873800;
  --orange-10: #612500;

  --dark-gray-1: #182026;
  --dark-gray-2: #202B33;
  --dark-gray-3: #293742;
  --dark-gray-4: #30404D;
  --dark-gray-5: #394B59;

  --gray-1: #5C7080;
  --gray-2: #738694;
  --gray-3: #8A9BA8;
  --gray-4: #A7B6C2;
  --gray-5: #BFCCD6;

  --light-gray-1: #CED9E0;
  --light-gray-2: #D8E1E8;
  --light-gray-3: #E1E8ED;
  --light-gray-4: #EBF1F5;
  --light-gray-5: #F5F8FA;
}
