.fpincode {
  --pincode-size: 20px;
  display: flex;

  .fpincode-input:not(:nth-child(1)) {
    margin-left: 0.25em;
  }
}
.fpincode-valid {
  .fpincode-input {
    border-color: var(--primary);
    color: var(--primary);
  }
}
.fpincode-input {
  outline: 0 !important;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  width: 2em;
  height: 2em;
  font-size: var(--pincode-size);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  &::placeholder {
    font-size: 1.5em;
    position: absolute;
    top: 0.45em;
    left: 0.45em;
  }
}
