.block {
  display: block !important;
}

.inline-block {
  display: inline-block !important;
}

.inline {
  display: inline !important;
}

.table {
  display: table !important;
}

.table-row	{
  display: table-row !important;
}

.table-cell	{
  display: table-cell !important;
}

.hidden	{
  display: none !important;
}

.flex	{
  display: flex !important;
}

.inline-flex {
  display: inline-flex !important;
}
